extends layout

block content
  h1= title
  ul(class='container messages')
    each message in messages 
      li
        strong #{message.user}: 
        | #{message.text}
        br
        small #{message.added}
  a(href="/new") New Message