extends layout

block content
  h1= title
  form(method='POST' action='/messages/new' class='form container')
    label(for='message') Message: 
    input(type='text' name='message' id='message' required)
    label(for='username') Username: 
    input(type='text' name='username' id='username' required)
    button(type='submit') Submit
    